.EmployeeCardBackground {
    background-color: var(--color-4);
    color : var(--shadow-light);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding : 20px;
    border-radius: 7px;
    margin : 15px;
}
.EmployeeCard {
    display : flex;
    flex-direction: row;
}