@import './variables.scss';

.JobCard {
    background-color: var(--color-6);
    background-image: var(--card-background);
    transition: 0.25s;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width : 60%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border : solid 1px #f8f5f1;
}

.JobCard:hover {
    box-shadow: var(--shadow-light);
}

.In-line {
    display : flex;
    padding : 2px;
}

.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
}