.loginRegister {
    display : flex;
    flex-direction: column;
    text-align : center;
    align-items: center;
}
.logout {
    display : flex;
    text-align : center;
    align-items: center;
}
.descriptionInputLogin {
    display : flex;
    flex-direction: column;
    padding : 1.5rem;
}
.descriptionInput {
    display : flex;
    flex-direction: column;
    padding-top : 1rem;
}
.description {
    display: flex;
    margin-bottom : 10px;
}
.centerElements {
    display : flex;
    flex-direction: column;
    justify-content: center;
    width : 400px;
}
form{
    background-image : var(--form-background);
    box-shadow: var(--shadow-light);
    transition : 0.25s;
    margin-top: 2rem;
    border-radius: 7px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.oneLine {
    display : flex;
    padding-left : 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.checkBox {
    box-shadow : none;
    width : 10%;
    align-content: inherit;
    border: none;
    padding: 1.5rem;
}
.checkBox:hover {
    box-shadow : none;
}
.checkBox:focus {
    box-shadow : none;
}

.passwordMatches{
    border-style: solid;
    color: rgb(255, 98, 80);
}

.avatar {
    width : 150px;
    height : 150px;
    border-radius: 50%;
    margin : 2rem;
    object-fit: cover;
}

.noSubmitButton {
    display : inline-block;
    padding : 0.5rem 0.75rem;
    background: var(--button-color);
    color: var(--light-color);
    box-shadow: var(--shadow-light);
    font-size : 1.25rem;
    border: none;
    border-radius: 7px;
    margin : 1rem;
    cursor: pointer;
    transition: 0.25s;
}
.noSubmitButton:hover{
    box-shadow: var(--shadow-dark);
    background: var(--button-select);
}
.noSubmitButton:focus{
    background: var(--nav-text-dark);
}
.chooseFileInput {
    all : unset;
}
.chooseFileInput:hover {
    all : unset;
}

@media only screen and(max-width : 650px) {
    .centerElements {
        width : 365px;
    }
}