:root {
    --home-background : #7067CF;
    --light-color: #ececf1;
    --button-select: #7B287D;
    --button-color : #E49273;
    --text-dark-color: #333333;
    --text-focus-color : #330C2F;
    --shadow-very-light : 0 4px 8px 0 rgba(3, 3, 3, 0.1);
    --shadow-light : 0 4px 8px 0 rgba(0,0,0,0.2);
    --navbar-background : url('../resources/pngegg.png');
    --color-1 : #7067CF;
    --color-2 : #7B287D;
    --color-3 : #330C2F;
    --color-4 : #B7C0EE;
    --color-5 : #CBF3D2;
    --color-6 : #D5896F;
}
:dark-mode {
    --home-background : #304D6D;
}